* {background:transparent !important;color:#000 !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;}

body {margin:0;padding:0;line-height: 1.4em;}
@page {margin: 0.5cm;}
.wrap{margin-top:-20px;margin: 0 55px 0 30px}
.tira-conteudo{display: none;}
.font-size-table{font-size: 11px !important;}
.font-size-td{font-size: 11px !important;}
.ajuste-th{width: 600px !important;}
th{font-weight: bolder !important;font-family: 'OpenSansLight'; }
td {font-size: 10px !important;font-weight: lighter !important;}
.td-categoria{width: 125px;}
.alinha-centro{text-align: center;}
p {widows: 3;}
p {orphans: 3;}
.ajusteDadosEvento{line-height: 3px !important;font-size: 12px !important}
/* img{max-width: 100%;} */
.total{font-size: 10px !important;}
.imgLogo{max-width: 170px !important;max-height: 60px !important;}